/*colors
dark gray: 343434
less dark gray: 404040
pale gray: dfe2d9
dark blue: 266c8e
light blue: 34a2d5
pale blue: 88c0d9
dark red: 763c3b
light red: e7a6a2
dark green: 728c31
ligth green: 9fbb54
cream: f7f5e9
end colors*/

/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Sumana', serif;*/

html, body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	background-color: #404040;
}

nav {
	margin:0;
	padding: 0;
	min-height: 50px;
	background-color: #343434;
}

.iconLink{
	width:30px;
}


.navLinks{
	margin: 15px 0;
}

.logoIcon{
	margin: 12px 0;
}

.container-fluid{
	text-align: center;
}



.padMe{
	padding: 5px 10px;
}

.appWrapper{
	min-width: 320px;
}

.projTable{
	max-width: 300px;
	color: #f7f5e9;
	margin: auto;
}

.iconSpacer{
	height: 50px;
}

.lft{
	text-align: left;
}

.ctr{
	text-align: center;
}


.thickRow{
	width: 100%;
	vertical-align: middle;
	text-align: center;
	padding: 10px 0 0 0;
}


.thinRow{
	width: 100%;
	vertical-align: center;
	text-align: center;
	padding: 10px 0 0 0;
	min-height: 170px;
}

.projectImg{
	width: 230px;
}


.borderBottom{
	border-bottom: 1px solid #343434;
}

.inlineBlock{
	display: inline-block;
	margin: 0 auto;
}

.flexCenter{
	display:flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.textArea {
	height: 300px;
	vertical-align: middle;
	margin: auto 0;
	padding: 8px;
	color: #f7f5e9;
	/*flex: 0 1 300px;*/
}

.picOfMe{
	width: 300px;
	height:300px;
	margin: 0 auto;
}

.myBrand{
	border: 1px solid black;
	width: 200px;
	height:200px;
	background-color: #763c3b;
	border-radius: 5px;
	color: #f7f5e9;
	margin: 0 auto;
}

.goodyBoxes{
	border: 1px solid black;
	border-radius: 5px;
	width: 150px;
	height:150px;
	margin: 0 auto;
	color: #f7f5e9;
}

.projectCard{
	max-width: 300px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1200px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 240px;
	height: 210px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform-origin: 105px 105px;
	transform: rotateY(180deg);
}